<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get the key</title>
    <link rel="stylesheet" href="./static/styles.css" />
  </head>
  <body>
    <div>
      <h1>Key of Song: {{k}}</h1>
    </div>
    <hr />
    <div>
      <h2>Track name: {{tr}}</h2>
      <img class="artwork" src="{{artwork}}" alt="" />
    </div>
    <hr />
    <div>
      <h1>Artist: {{artst}}</h1>
    </div>
    <hr />

    <li class="active"><a href="/">back to home</a></li>
  </body>
</html>
